#toolbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#grid {
    padding: 1em;
}

.row {
    display: flex;
    justify-content: center;
}

.square {
    background-color: gray;
    border: 1px;
    border-color: black;
    width: 2em;
    height: 2em;
}

.square-shaded {
    background-color: white;
}