#toolbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2em 4em;
}

#grid {
    padding: 1em;
    background-color: lavender;
}

.row {
    display: flex;
    justify-content: center;
}

.square {
    background-color: gray;
    border: 1px;
    border-color: black;
    width: 2em;
    height: 2em;
}

.square-selected {
    background-color: white;
}

button {
    width: 7em;
    height: 3em;
}